*.pyc

.python-version
.venv
.env
.env-*
*.egg-info/

**/.DS_Store

.pytest_cache/
.cache
.mypy_cache/

**/test-reports/
**/coverage-reports/
.coverage

**/.idea/*

*.log
*/node_modules/
.eslintcache
.env*
.secret